@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: auto;
  width: 1200px;
  min-height: 100%;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  height: 64px;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  margin-bottom: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 446px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 16px 20px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  max-width: 446px;
  margin-left: auto;
}

.navigation-item-search {
  width: 44px;
  height: 64px;

}

.navigation-link-seach {
  padding: 0;
  color: #000000;
}

.navigation-item-favorites {
  width: 44px;
  height: 64px;
  margin-right: 20px;
}

.navigation-link-favorites {
  position: relative;
  width: 20px;
  height: 20px;
  color: #000000;
  text-decoration: none;
  top: 23px;
}

.navigation-number {
  display: block;
  position: absolute;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #6c9e42;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  text-align: center;
}

.button-come {
  margin-top: 14px;
  margin-bottom: 14px;
}

.button-come-here {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
}

.button-come-here:hover {
  background-color: #615048;
}

.button-come-here:focus {
  outline: 2px solid #615048;
  background-color: #615048;
}

.button-come-here:active {
  background-color: #756157;
  opacity: 0.3;
}

.button-come-here:disabled {
  background-color: #e5e5e5;
}

.button-come-here:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.main-contaier {
  flex-grow: 1;
}

.main-index {
  background: #ffffff;
  color: #000000;
}

.hero {
  position: relative;
  width: 100%;
  padding: 51px 0 82px;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/index-main-images/index-background.jpg");
  background-size: cover;
  background-color: #000000;
  object-fit: cover;
}

.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 11.75%;
  bottom: -1px;
  left: 0;
  background: url("../images/index-main-images/staircase.svg") no-repeat;
  z-index: 1;
}

.reason {
  margin: 0;
  margin-bottom: 21px;
  padding: 69px;
  text-align: center;
  background: #ffffff;
  color: #000000;
}

.reason-description-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.reason-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  min-height: 385px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-image {
  padding: 102px 85px;
}

.advantages-item-town,
.advantages-item-bridge {
  display: flex;
  max-width: 1200px;
  color: #ffffff;
  background: #82b3d3;
}

.advantages-item-road {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  position: relative;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
}

.advantages-item-square,
.advantages-item-road,
.advantages-item-tourists {
  width: 400px;
}

.advantages-description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

.service {
  margin: 0;
  padding: 64px;
  text-align: center;
  background: #ffffff;
  color: #000000;
}

.service-description-heading {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.service-description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-top: 20px;
}

.sentence-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sentence-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  padding: 81px 85px;
}

.sentence-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 400px;
  min-height: 385px;
  color: #000000;
  background: #ffffff;
  width: 100%;
}

.sentence-item-housing,
.sentence-item-souvenirs {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.sentence-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.sentence-title-home::before {
  display: block;
  position: relative;
  width: 75px;
  height: 72px;
  background-image: url("../images/index-main-images/advantage-home-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  bottom: 30px;
  left: 32%;
  transform: translateX (-32%)
}

.sentence-title-food::before {
  display: block;
  position: relative;
  width: 75px;
  height: 72px;
  background-image: url("../images/index-main-images/advantage-food-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  bottom: 30px;
  left: 32%;
  transform: translateX (-32%)
}

.sentence-title-souvenirs::before {
  display: block;
  position: relative;
  width: 75px;
  height: 75px;
  background-image: url("../images/index-main-images/advantage-souvenirs-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  bottom: 25px;
  left: 32%;
  transform: translateX (-32%)
}

.sentence-description {
  margin: 0;
  margin-top: 30px;
}

.interest {
  margin: 0;
  padding: 96px 304px 96px 304px;
  text-align: center;
  background: #ffffff;
  color: #000000;
}

.interest-description-heading {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
}

.interest-description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.interest-button-search {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.interest-button-search:hover {
  background-color: #615048;
}

.interest-button-search:focus {
  outline: 2px solid #615048;
  background-color: #615048;
}

.interest-button-searchhere:active {
  background-color: #756157;
  opacity: 0.3;
}

.interest-button-search:disabled {
  background-color: #e5e5e5;
}

.interest-button-search:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/footer-images/form-index.jpg");
}

.subscribe-without-background {
  background-image: none;
}

.subscription-form {
  display: flex;
  text-align: center;
  margin-top: 54px;
  justify-content: center;
  align-items: center;
}

.subscribe-description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.catalog-subscribe-description {
  color: #000000;
}

.subscribe-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.catalog-subscribe-title {
  color: #000000;
}

.subscribe-e-mail {
  font-family: inherit;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  padding: 14px 345px 14px 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.button-subscribe {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82b3d3;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  border: none;
}

.button-subscribe:hover {
  background-color: #68a2Ca;
}

.button-subscribe:focus {
  outline: 2px solid #68a2Ca;
  background-color: #68a2Ca;
}

.button-subscribe:active {
  background-color: #82b3d3;
  opacity: 0.3;
}

.button-subscribe:disabled {
  background-color: #e5e5e5;
}

.button-subscribe:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  background-position: center;
  background-size: 12px 11px;
  padding: 12px 13px;
  color: #83b3d3;
}

.footer-social-link:hover {
  color: #68a2Ca;
}

.footer-social-link:focus {
  color: #68a2Ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-website {
  display: block;
  margin-left: 70px;
  max-width: 115px;
  color: #000000;
}

.htmlacademy-link {
  color: #000000;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link:focus {
  color: #756157;
}

.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-phone {
  font-family: "PT Sans";
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer-address-phone {
  text-decoration: none;
  color: #000000;
}

.footer-address-phone:hover {
  color: #756157;
}

.footer-address-phone:focus {
  color: #756157;
}

.footer-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}



.inner-header {
  background: #000000;
  color: #ffffff;
  background-image: url("../images/catalog-main-images/form-main.jpg");
  background-repeat: no-repeat;
}

.page-navigation {
  display: flex;
  flex-direction: column;
}

.inner-header {
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-family: "PT Sans";
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  max-width: 120px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;

}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  width: 8px;
  height: 11px;
  margin-right: 10px;
  background-image: url("../images/catalog-main-images/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-group {
  display: flex;
  align-items: stretch;
  margin-top: 40px;
}

.range {
  margin-top: 32px;
  border: none;
}

.catalog-price-range {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}

.range input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.range input:hover {
  background-color: #e6e6e6;
}

.range-toggle:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  background: #f2f2f2;
  outline: 3px solid #000000;
}

.range-from-field {
  font-family: inherit;
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.range-to-field {
  font-family: inherit;
  border-radius: 0 4px 4px 0;
}

.range-from-field-text span {
  position: absolute;
  content: "от";
  right: 850px;
  transform: translateY(50%);
  width: 20px;
  height: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgb(170, 170, 170);
}

.range-to-field-text span {
  position: absolute;
  content: "до";
  right: 700px;
  transform: translateY(50%);
  width: 20px;
  height: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgb(170, 170, 170);
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 0;
  background-color: #000000;
  border-radius: 2px;
  margin-top: 46px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 30%;
  cursor: pointer;

}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active,
.range-toggle:focus {
  background: #ffffff;
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.inner-header-cost-to-item {
  flex-basis: 143px;
  flex-shrink: 1;
}

.infrastructure {
  padding: 0;
  margin-left: 0;
  margin-right: 70px;
}

.house {
  margin-left: 0;
  margin-right: auto;
}

.inner-header-filter-list-infrastructure {
  margin-top: 32px;
  margin-right: 39px;
  margin-bottom: 0;
  padding: 0;
}

.inner-header-filter-list-house {
  margin-top: 32px;
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0;
}

.inner-header-filter-group {
  padding: 0;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
}

.inner-header-filter-list-infrastructure,
.inner-header-filter-list-house,
.inner-header-filter-list-cost {
  list-style-type: none;
}

.control-input {
  font-family: inherit;
}

.inner-header-button {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-left: 70px;
}

.button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #82b3d3;
  padding: 8px 50px;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-submit:hover {
  background-color: #68a2Ca;
}

.button-submit:focus {
  outline: 2px solid #68a2Ca;
  background-color: #68a2Ca;
}

.button-submit:active {
  background-color: #82b3d3;
  opacity: 0.3;
}

.button-submit:disabled {
  background-color: #e5e5e5;
}

.button-submit:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.button-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: transparent;
  padding: 8px 50px;
  border: none;
  margin-top: 32px;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-reset:hover {
  background: transparent;
}

.button-reset:focus {
  outline: 2px solid #83b3d3;
  background: transparent;
}

.button-reset:active {
  background: transparent;
  opacity: 0.3;
}

.button-reset:disabled {
  background: transparent;
}

.button-reset:disabled:hover {
  background: transparent;
  outline: none;
  cursor: default;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-family: "PT Sans";
  font-weight: 700;
  text-transform: uppercase;
}


.catalog-products-header {
  display: flex;
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  max-height: 70px;
  max-width: 1060px;
}

.select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.select-control {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 20px;
  padding-right: 40px;
  background-image: url("../images/catalog-main-images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}

.view-buttons {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.view-button-item {
  margin-right: 8px;
}

.view-button {
  display: block;
  background-position: center;
  padding: 15px 17px 17px 16px;
  width: 16px;
  height: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-button-card {
  outline: 2px solid #000000;
}

.view-button-item:last-child {
  margin-right: 0;
}

.view-button:hover {
  outline: 2px solid #000000;
}

.view-button:focus {
  outline: 2px solid #68a2Ca;
}

.view-button:active {
  outline: 2px solid #000000;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  list-style: none;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.product-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-family: "PT Sans";
  font-weight: 700;
  border: none;
  color: #000000;
}

.products-amount {
  font-size: 30px;
  line-height: 36px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #000000;
  position: relative;
  top: 25px;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans";
  font-weight: 400;
}

.product-card-detail {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 26px 8px 26px;
  border-radius: 4px;
}

.product-card-detail:hover {
  background-color: #615048;
}

.product-card-detail:focus {
  outline: 2px solid #615048;
  background-color: #615048;
}

.product-card-detail:active {
  background-color: #756157;
  opacity: 0.3;
}

.product-card-detail:disabled {
  background-color: #e5e5e5;
}

.interest-button-search:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.product-card-favorites {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 20px 8px 20px;
  border-radius: 4px;
}

.product-card-favorites:hover {
  background-color: #68a2Ca;
}

.product-card-favorites:focus {
  outline: 2px solid #68a2Ca;
  background-color: #68a2Ca;
}

.product-card-favorites:active {
  background-color: #82b3d3;
  opacity: 0.3;
}

.product-card-favorites:disabled {
  background-color: #e5e5e5;
}

.product-card-favorites:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.product-card-favorites-green {
  background-color: #7db54f;
}


.product-card-favorites-green:hover {
  background-color: #6c9e42;
}

.product-card-favorites-green:focus {
  outline: 2px solid #6c9e42;
  background-color: #6c9e42;
}

.product-card-favorites-green:active {
  background-color: #82b3d3;
  opacity: 0.3;
}

.product-card-favorites-green:disabled {
  background-color: #7db54f;
}

.product-card-favorites-green:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: default;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans";
  font-weight: 400;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans";
  font-weight: 400;
  background: #f2f2f2;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.stars {
  height: 17px;
  background-image: url("../images/catalog-main-images/star.svg");
  background-repeat: space;
  margin: 0;
}

.four-stars {
  width: 80px;
}

.tree-stars {
  width: 60px;
}

.two-stars {
  width: 40px;
}

.pagination {
  display: flex;
  margin-bottom: 60px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 20px;
  list-style-type: none;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2Ca;
}

.pagination-link:focus {
  outline: 2px solid #68a2Ca;
  background-color: #68a2Ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  opacity: 0.3;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-family: "PT Sans";
  font-weight: 700;
  color: #000000;
  background: #f2f2f2;
}

.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-current:focus {
  outline: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.pagination-current:active {
  background-color: #f2f2f2;
  opacity: 0.3;
}

.pagination-breadcrumbs {
  font-size: 26px;
  line-height: 22px;
  font-family: "PT Sans";
  font-weight: 400;
  color: #000000;
  background: #ffffff;
}
